In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

**DATA COLLECTION AND DATA PROCESSING**

In [4]:
#loading the dataset to a pandas Dataframe
sonar_data = pd.read_csv('/content/sonar_data.csv', header = None) #I run this code in colab.

In [5]:
sonar_data.head()

       0       1       2       3       4   ...      56      57      58      59  60
0  0.0200  0.0371  0.0428  0.0207  0.0954  ...  0.0180  0.0084  0.0090  0.0032   R
1  0.0453  0.0523  0.0843  0.0689  0.1183  ...  0.0140  0.0049  0.0052  0.0044   R
2  0.0262  0.0582  0.1099  0.1083  0.0974  ...  0.0316  0.0164  0.0095  0.0078   R
3  0.0100  0.0171  0.0623  0.0205  0.0205  ...  0.0050  0.0044  0.0040  0.0117   R
4  0.0762  0.0666  0.0481  0.0394  0.0590  ...  0.0072  0.0048  0.0107  0.0094   R

[5 rows x 61 columns]

In [6]:
sonar_data.shape

(208, 61)

In [11]:
(sonar_data.describe().T).head(10) # this describes statistical measures of the data

   count      mean       std     min       25%      50%       75%     max
0  208.0  0.029164  0.022991  0.0015  0.013350  0.02280  0.035550  0.1371
1  208.0  0.038437  0.032960  0.0006  0.016450  0.03080  0.047950  0.2339
2  208.0  0.043832  0.038428  0.0015  0.018950  0.03430  0.057950  0.3059
3  208.0  0.053892  0.046528  0.0058  0.024375  0.04405  0.064500  0.4264
4  208.0  0.075202  0.055552  0.0067  0.038050  0.06250  0.100275  0.4010
5  208.0  0.104570  0.059105  0.0102  0.067025  0.09215  0.134125  0.3823
6  208.0  0.121747  0.061788  0.0033  0.080900  0.10695  0.154000  0.3729
7  208.0  0.134799  0.085152  0.0055  0.080425  0.11210  0.169600  0.4590
8  208.0  0.178003  0.118387  0.0075  0.097025  0.15225  0.233425  0.6828
9  208.0  0.208259  0.134416  0.0113  0.111275  0.18240  0.268700  0.7106

In [14]:
sonar_data[60].value_counts() # we can see how many mine or rock there are in 60. column

M    111
R     97
Name: 60, dtype: int64

**M = Mine** 
/
**R = Rock**

In [15]:
sonar_data.groupby(60).mean()

          0         1         2   ...        57        58        59
60                                ...
M   0.034989  0.045544  0.050720  ...  0.009060  0.008695  0.006930
R   0.022498  0.030303  0.035951  ...  0.006677  0.007078  0.006024

[2 rows x 60 columns]

In [18]:
# separating data and Labels
X = sonar_data.drop(columns=60,axis=1)
Y = sonar_data[60]

In [19]:
print(X)
print(Y)

         0       1       2       3   ...      56      57      58      59
0    0.0200  0.0371  0.0428  0.0207  ...  0.0180  0.0084  0.0090  0.0032
1    0.0453  0.0523  0.0843  0.0689  ...  0.0140  0.0049  0.0052  0.0044
2    0.0262  0.0582  0.1099  0.1083  ...  0.0316  0.0164  0.0095  0.0078
3    0.0100  0.0171  0.0623  0.0205  ...  0.0050  0.0044  0.0040  0.0117
4    0.0762  0.0666  0.0481  0.0394  ...  0.0072  0.0048  0.0107  0.0094
..      ...     ...     ...     ...  ...     ...     ...     ...     ...
203  0.0187  0.0346  0.0168  0.0177  ...  0.0065  0.0115  0.0193  0.0157
204  0.0323  0.0101  0.0298  0.0564  ...  0.0034  0.0032  0.0062  0.0067
205  0.0522  0.0437  0.0180  0.0292  ...  0.0140  0.0138  0.0077  0.0031
206  0.0303  0.0353  0.0490  0.0608  ...  0.0034  0.0079  0.0036  0.0048
207  0.0260  0.0363  0.0136  0.0272  ...  0.0040  0.0036  0.0061  0.0115

[208 rows x 60 columns]
0      R
1      R
2      R
3      R
4      R
      ..
203    M
204    M
205    M
206    M
207    M
Name: 60, Length: 208, dtype: object

Training and Testing

In [21]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size = 0.15, stratify=Y, random_state=1)

In [22]:
print(X.shape, X_train.shape, X_test.shape)

(208, 60) (176, 60) (32, 60)

In [25]:
print(X_train)
print(Y_train)

         0       1       2       3   ...      56      57      58      59
6    0.0317  0.0956  0.1321  0.1408  ...  0.0092  0.0143  0.0036  0.0103
183  0.0096  0.0404  0.0682  0.0688  ...  0.0109  0.0036  0.0043  0.0018
125  0.0228  0.0853  0.1000  0.0428  ...  0.0116  0.0093  0.0012  0.0036
42   0.0211  0.0319  0.0415  0.0286  ...  0.0105  0.0049  0.0070  0.0080
67   0.0368  0.0403  0.0317  0.0293  ...  0.0135  0.0067  0.0078  0.0068
..      ...     ...     ...     ...  ...     ...     ...     ...     ...
140  0.0412  0.1135  0.0518  0.0232  ...  0.0095  0.0225  0.0098  0.0085
70   0.0065  0.0122  0.0068  0.0108  ...  0.0026  0.0036  0.0006  0.0035
154  0.0117  0.0069  0.0279  0.0583  ...  0.0020  0.0062  0.0026  0.0052
131  0.1150  0.1163  0.0866  0.0358  ...  0.0190  0.0141  0.0068  0.0086
203  0.0187  0.0346  0.0168  0.0177  ...  0.0065  0.0115  0.0193  0.0157

[176 rows x 60 columns]
6      R
183    M
125    M
42     R
67     R
      ..
140    M
70     R
154    M
131    M
203    M
Name: 60, Length: 176, dtype: object

In [24]:
model = LogisticRegression() # we use LR

Training Model

In [26]:
model.fit(X_train,Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

Model Evaluation

In [28]:
#accuracy on training data 
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [30]:
print('Accuracy on training data : ',training_data_accuracy)

Accuracy on training data :  0.8409090909090909

In [31]:
#accuracy on test data
X_test_prediction = model.predict(X_test)
testing_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [32]:
print('Accuracy on training data : ',testing_data_accuracy)

Accuracy on training data :  0.71875

# Making a Predictive System

In [36]:
input_data = (0.0189,0.0308,0.0197,0.0622,0.0080,0.0789,0.1440,0.1451,0.1789,0.2522,0.2607,0.3710,0.3906,0.2672,0.2716,0.4183,0.6988,0.5733,0.2226,0.2631,0.7473,0.7263,0.3393,0.2824,0.6053,0.5897,0.4967,0.8616,0.8339,0.4084,0.2268,0.1745,0.0507,0.1588,0.3040,0.1369,0.1605,0.2061,0.0734,0.0202,0.1638,0.1583,0.1830,0.1886,0.1008,0.0663,0.0183,0.0404,0.0108,0.0143,0.0091,0.0038,0.0096,0.0142,0.0190,0.0140,0.0099,0.0092,0.0052,0.0075)

# changing the input_data to a numpy array
input_data_as_numpy_array = np.asarray(input_data)

# reshape the np array as we are predicting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)
print(prediction)

if (prediction[0]=='R'):
  print('The object is a Rock(Kaya)')
else:
  print('The object is a Mine(Maden)')

['R']
The object is a Rock(Kaya)