In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
data = pd.read_csv('/content/mail_data.csv')

In [4]:
data

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [5]:
mail_data = data.where((pd.notnull(data)), '')

In [6]:
mail_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [8]:
mail_data.isnull().sum()

Category    0
Message     0
dtype: int64

In [10]:
mail_data.shape

(5572, 2)

Label Encoding

In [13]:
# label spam mail as 0, ham mail as 1;
mail_data.loc[mail_data['Category'] == 'spam', 'Category'] = 0
mail_data.loc[mail_data['Category'] == 'ham', 'Category'] = 1

**spam = 0** and **ham = 1**

In [15]:
# separating the data as texts and label

X = mail_data['Message']
Y = mail_data['Category']

In [18]:
print(X , Y)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object 0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: object

In [19]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, 
                                                    test_size=0.30, 
                                                    random_state=42)

In [21]:
print(X_train.shape, X_test.shape, Y_train.shape, Y_test.shape)

(3900,) (1672,) (3900,) (1672,)

In [22]:
# transform the text data to feature vectors that can be used as input to the Logistic Regression

feature_extraction = TfidfVectorizer(min_df =1,
                                     stop_words = 'english',
                                     lowercase='True')
X_train_features  = feature_extraction.fit_transform(X_train)
X_test_features  = feature_extraction.transform(X_test)

# convert Y_train and Y_test values as integers 

Y_train = Y_train.astype('int')
Y_test = Y_test.astype('int')

In [24]:
print(X_train_features)

  (0, 2221)	0.4595576461719437
  (0, 6907)	0.42057032296489166
  (0, 260)	0.3977642008852706
  (0, 943)	0.35285068394560465
  (0, 3629)	0.33392519134134463
  (0, 3634)	0.31674844532481095
  (0, 5025)	0.3425956765507876
  (1, 5087)	0.564752315585174
  (1, 4329)	0.4556948018194525
  (1, 6399)	0.6880385669683886
  (2, 5909)	0.4598907748288949
  (2, 1882)	0.5577039025555312
  (2, 5320)	0.407962240134966
  (2, 1557)	0.5577039025555312
  (3, 2032)	0.5517950786382567
  (3, 1762)	0.4550182724182232
  (3, 6157)	0.39464721758363247
  (3, 889)	0.4179976347325351
  (3, 5392)	0.3975073759914889
  (4, 3168)	0.517613431846439
  (4, 5675)	0.6128580677760653
  (4, 2864)	0.40046755880208973
  (4, 6864)	0.44283976592107693
  (5, 6369)	0.3834923635990344
  (5, 5884)	0.4325022650654002
  :	:
  (3895, 6835)	0.4724310616139888
  (3895, 6851)	0.3960620484148489
  (3895, 2277)	0.4500945571447008
  (3895, 2080)	0.26990881063254835
  (3895, 2891)	0.2286724629283105
  (3895, 3085)	0.26272736081331977
  (3896, 5751)	0.5972785044700903
  (3896, 3637)	0.6034974734888896
  (3896, 3758)	0.5282510649213112
  (3897, 5755)	0.44641749433429984
  (3897, 5756)	0.44641749433429984
  (3897, 4851)	0.4337802935282666
  (3897, 2711)	0.3842002175270242
  (3897, 5098)	0.4071627632103983
  (3897, 3048)	0.3160161001565619
  (3898, 3463)	0.5547403398631443
  (3898, 4386)	0.4976365821891147
  (3898, 5481)	0.5303714519182342
  (3898, 6285)	0.40413748945848094
  (3899, 4249)	0.5341816759004991
  (3899, 5723)	0.46235406855273553
  (3899, 6075)	0.47878508271631537
  (3899, 5388)	0.33110519415437856
  (3899, 3492)	0.24371977835418776
  (3899, 2080)	0.32033344663986374

**TRAINING**

Logistic Regression

In [25]:
model = LogisticRegression()

In [26]:
model.fit(X_train_features, Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

Evaluating the trained model

In [27]:
train_pred = model.predict(X_train_features)

In [30]:
accuray_on_trainnig_data = accuracy_score(Y_train,train_pred )
print('Accuracy on training data : ', accuray_on_trainnig_data )

Accuracy on training data :  0.963076923076923

test version

In [31]:
test_pred = model.predict(X_test_features)
accuray_on_test_data = accuracy_score(Y_test,test_pred )
print('Accuracy on test data : ', accuray_on_test_data )

Accuracy on test data :  0.9659090909090909

**Building a Predictive System**

In [32]:
input_mail = ["I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times"]

# convert text to feature vectors
input_data_features = feature_extraction.transform(input_mail)

# making prediction

prediction = model.predict(input_data_features)
print(prediction)


if (prediction[0]==1):
  print('Ham mail')

else:
  print('Spam mail')

[1]
Ham mail